<ul>
  <li class="existing-item" ng-repeat="item in list.items">
    <input type="checkbox" ng-model="isSelected" ng-change="list.itemIsNowSelected(item, isSelected)">
    {{item.text}}
  </li>

  <li class="new-item">
    <input type="text" ng-model="list.newItemText">
  </li>
</ul>

<button class="btn btn-primary"
        ng-click="list.addNewItem(); list.deleteSelectedItems();"
        ng-disabled="!list.newItemText && list.noItemsSelected()">
  <span ng-show="list.newItemText && list.noItemsSelected()">Lisää pitsa</span>
  <span ng-show="!list.newItemText && !list.noItemsSelected()">Poista valitut pitsat</span>
  <span ng-show="!!list.newItemText != list.noItemsSelected()">Lisää/poista pitsoja</span>
</button>
